/* $This file is distributed under the terms of the license in /doc/license.txt$ */
/* Styles to be used with custom forms, specifically with the streamlined version */

.customFormFieldset {
	border-style: 1px solid dashed !important;
	border-radius: 10px;
	padding:20px;
}

.customFormLegend {
	display:inline;
}